<div class="container">
  <h1>Ici c'est Weekoz</h1>
  <% User.all.select{|user| user.role == "trainer"}.each do |trainer| %>
    <%= link_to user_path(trainer) do %>
      <div>
        <%= trainer.first_name %> <%= trainer.last_name %>
      </div>
    <% end %>
  <% end %>
</div>

<%= console %>
